html {
  --main-bg-color: rgb(248, 248, 248);
  /*rgb(248, 248, 248);*/
  background-color: var(--main-bg-color);
  /*background-color: rgb(254, 254, 254);*/
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader {
  align-self: center;
  margin: auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sort-widget {
  align-self: center;
  text-align: center;
  margin: auto;
  background-color: white;
  border: solid black 1px;
  border-radius: 25px;
  max-width: 250px;
}

.coins-container {
  align-self: center;
  margin: auto;
}

table {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border-collapse: collapse;
  border-radius: 30px;
  background-color: white;
}

td, th {
  border-bottom: 4px solid var(--main-bg-color);
  text-align: left;
  padding-inline: 2vw;
  /*Responsively scale horizontal padding*/
}

th {
  padding-block: 30px;
}

td {
  padding-block: 15px;
}

.coin .icon {
  align-self: center;
  /* Fixes stretching since default self-align = stretch*/
}

.coin .profile-container {
  display: flex;
}

.coin .name-symbol-container {
  margin-left: 15px;
  text-align: left;
}

.coin .name-symbol-container * {
  margin: 0px;
  text-align: left;
}

.coin .name {
  display: table-caption;
  /* Fixes long horizontal text */
}

.coin .symbol {
  margin-top: 2px;
  color: rgb(179, 179, 179);
}

.drop-down * {
  visibility: hidden;
}

.drop-down:active {
  visibility: visible;
}

.descending::after {
  position: absolute;
  margin-left: 5px;
  content: "▼";
}

.ascending::after {
  position: absolute;
  margin-left: 5px;
  content: "▲";
}

.change-positive {
  color: green;
}

.change-negative {
  color: red
}

@media screen and (max-width: 600px) {
  /* Removes the third column (Market Cap) */
  tr th:nth-child(3), tr td:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  * {
    font-size: small;
  }
  table * {
    padding-inline: 1px;
  }
  .icon {
    width: 32px;
  }
}